<div class="container">
  <div>
    <app-site-navigation></app-site-navigation>
    <div class="welcomePage">
      <div class="lending">
        <h3 class=" lending-heading heading2 ">
          Starting Your Lending Business Shouldn't Be So Hard
        </h3>
        <p class=" lending-body">
          You can start your lending business with as little as 1000 shillings.
          All you need to do is open an account with us and reach our wide market
          of borrowers.
          <button routerLink="/start">Start Lending</button>
        </p>
      </div>
      <div class="lending-img">
        <img src="/assets/images/pexels-jopwell.jpg" alt="" >
      </div>
      <div class="borrowing">
        <h3 class="borrowing-heading heading2">
          Obtaining funds should be as easy
          as ABC
        </h3>
        <p class="borrowing-body">
          view our wide range of lenders by following this link.
          <button>Borrow Now</button>
        </p>
      </div>
      <div class="borrowing-img">
        <img src="/assets/images/pexels-jopwell.jpg"  alt="">
      </div>
    </div>
    <div>Featured Offers</div>
    <div class="featured">
      <div class=" bg-color " *ngFor="let list of _featuredLenders.slice(0,4)">
        <ul>
          <li>#{{ list.id }}</li>
          <li>Email:{{ list.email }}</li>
          <li>{{ list.first_name + " " + list.last_name }}</li>
          <li><img [src]="list.avatar" alt="Lender Image" /></li>
          <li>Offer Amount: Kshs 20,000</li>
          <li>Rate per Month: 20%</li>
          <li class="to-right"><button [routerLink] = "['/more',list.id]">See More</button></li>
        </ul>
      </div>
    </div>
    <footer class="bg-color">Your Number 1 money market</footer>
  </div>
</div>
