.container{
  max-width: 1080px;
  margin: 0, auto;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: repeat (1fr, 1fr);
  grid-gap: 1.5em;
}

.page-heading {
  grid-column: 1/5;
  grid-row: span 1;
}

nav {
  grid-column: 1/2;
  grid-row: 2/2;
}


