<div class="container">
  <header>
    <h1 class="page-heading">Lender</h1>
  </header>
 <nav > At the core, the development model is greatly inspired by
  existing models out there. The central repo holds two main
  branches with an infinite lifetime:ipsum</nav>
 <div class="listings">At the core, the development model is greatly inspired by
  existing models out there. The central repo holds two main
  branches with an infinite lifetime:</div>
 <div class="listings">At the core, the development model is greatly inspired by
  existing models out there. The central repo holds two main
  branches with an infinite lifetime:</div>
 <div class="listings">At the core, the development model is greatly inspired by
  existing models out there. The central repo holds two main
  branches with an infinite lifetime:</div>
</div>
