<!-- <h1>Edit Your Profile</h1>
<hr>
<div class="col-md-6">
  <h3>[Edit profile form will go here]</h3>
  <br />
  <br />
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default">Cancel</button>
</div> -->
<!-- list all the offers by the user -->
<!-- filter offers by name of the user -->
<div class="container">
  <app-site-navigation></app-site-navigation>
  <div class="dashboard">
    <div class="bg-clr">

      <table>
        <thead>Unaccepted Loans</thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Interest Rate</th>
          <th>Amount</th>
          <th>Days Pending</th>
          <th></th>
        </tr>
        <tr *ngFor ="let offerA of offers">
          <td>{{offerA._id}}</td>
          <td>{{offerA.date_created}}</td>
          <td>{{offerA.interest}}</td>
          <td>{{offerA.amount}}</td>
          <td>9 days</td>
          <td><a>View</a></td>
        </tr>
      </table>
    </div>
    <div class="bg-clr">
      <table>
        <thead>Issued Loans</thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Interest Rate</th>
          <th>Amount</th>
          <th>Days Pending</th>
          <th>In Arrears</th>
        </tr>
        <tr *ngFor ="let offerA of offers">
          <td>{{offerA._id}}</td>
          <td>{{offerA.date_created}}</td>
          <td>{{offerA.interest}}</td>
          <td>{{offerA.amount}}</td>
          <td>9 days</td>
          <td><a>NO</a></td>
        </tr>

      </table>
    </div>
    <div class="bg-clr">Interest Income</div>
    <div class="bg-clr" >Bar Chart :Compared With previous year</div>
    <div class="bg-clr">Trend: Line Graph</div>
    <div class="bg-clr">Pie Chart</div>
  </div>
</div>
