.dashboard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap:0.5em;
  background-color: aquamarine;
}

.bg-clr{
  background-color: rgb(237, 243, 237);
}
