:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;

}

body{
  background-color: #f2f8f7;
  font-weight: 100;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1080px;
  margin: 0 auto;


}

.welcome-header{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  background-color: rgb(4, 136, 4);
  color: white;
}
.inner-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows:  repeat(5, auto);
  grid-gap: 0.5em;

}

.header {
  grid-column:1/5;
  grid-row:span 1;
}

.navigation {
  grid-column: 1/5;
  grid-row: span 1;

}

.bg-color{
  background-color: #d9dddc;
  border-radius: .2em;
}
ul > li {
  list-style-type: none;
  font-family: Calibri, Arial,'Times New Roman',Helvetica, Times, serif;
  font-size: 1em;
}
.site-nav{
display: flex;
flex-direction: row;
  margin: 0;
  padding: .5em;
  list-style-type: none;
  border-radius: .2em;

}
.site-nav > li {
  margin-top: 0;
}
.site-nav > li > a {
  display: block;
  padding: .5em 1em;
  background-color: #9fdcdf;
  color: white;
  text-decoration: none;
}
.site-nav > li + li {
  margin-left: 1.5em;
}

footer {
  grid-column:1/5;
  grid-row:span 1;
}


.title {
  grid-column: 1/5;
  grid-row: auto;
  text-align: center;
  color: rgb(68, 170, 47);
  background-color: #d9dddc;
  border-radius: 0.5em;
}
.site-nav > .nav-right {
  margin-right: auto;
}
